<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <connectionStrings>
    <add name="bd_controle" connectionString="server=192.168.0.2;                             user ID=usuario;                             password=1234;                             database=bd_controle" providerName="MySql.Data.MySqlClient;" />
    <add name="NovoControleDeHorarios.Properties.Settings.bd_controleConnectionString" connectionString="server=192.168.0.2;user id=usuario;password=1234;database=bd_controle" providerName="MySql.Data.MySqlClient" />
    <add name="NovoControleDeHorarios.Properties.Settings.bd_controleConnectionString1" connectionString="server=192.168.0.2;user id=usuario;password=1234;persistsecurityinfo=True;database=bd_controle;allowuservariables=True" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  
</configuration>